body {
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

th {
  font-weight: normal;
  text-align: left;
}

#passwordShowHide {
  color: #ccc;
  font-size: x-small;
  padding-left: 1em;
  vertical-align: middle;
}

.uninit, .hide, .uninit *, .hide * {
  display: none;
}

.buttonBox {
  display: flex;
  flex-direction: row;
}

.spacer {
  flex: 1;
}

.buttonbox button {
  margin: 2px;
}

.error {
  border: 1px solid red;
  background: repeating-linear-gradient(
    135deg,
    #500,
    #500 5px,
    #000 5px,
    #000 10px,
    #000 10px
  );
  padding: 1em;
}
